# Données lourdes (on ne versionne jamais les datasets)
data/*
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environnements
.env
env/
venv/

# OS / éditeur
.DS_Store
Thumbs.db
.vscode/
.idea/
